<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quên Mật Khẩu</title>
    <link rel="stylesheet" href="/css/auth.css">
    <!-- Nếu dùng FontAwesome thì nhớ chèn cả -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <script defer src="/js/auth.js"></script>
</head>
<body>
<div class="auth-container">
    <div class="auth-card">
        <img src="/images/logo2.png" alt="Logo" class="logo">
        <h2>Quên Mật Khẩu</h2>
        <form id="forgotPasswordForm">
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <button type="submit" class="btn btn-primary">Gửi OTP</button>
        </form>
        </br>
        <p class="auth-switch">
            <a href="/Login">Quay lai đăng nhập</a>
        </p>
    </div>
</div>

</body>
</html>
