<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Mật Khẩu</title>
    <link rel="stylesheet" href="/css/auth.css">
    <!-- Nếu dùng FontAwesome thì nhớ chèn cả -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<div class="auth-container">
    <div class="auth-card">
        <img src="/images/logo2.png" alt="Logo" class="logo">
        <h2>Reset Mật Khẩu</h2>
        <form id="resetPasswordForm">
            <div id="loadingIndicator" style="display: none; text-align: center; margin-top: 10px;">
                <i class="fas fa-spinner fa-spin fa-2x text-primary"></i>
                <p>Đang xử lý đăng ký...</p>
            </div>
            <div class="input-group">
                <i class="fas fa-key"></i>
                <input type="text" name="token" placeholder="Mã OTP" required>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" name="newPassword" placeholder="Mật khẩu mới" required>
            </div>
            <button type="submit" class="btn btn-primary">Đặt lại mật khẩu</button>
        </form>
        </br>
        <p class="auth-switch">
            <a href="/Login">Quay lai đăng nhập</a>
        </p>
    </div>
</div>
<script src="/js/auth.js"></script>
</body>
</html>
